.load {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-04qkjjlvv3iw {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-04qkjjlvv3iw div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #0b2962;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-04qkjjlvv3iw div {
  animation: ldio-04qkjjlvv3iw 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-lcp9w0xljdc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-04qkjjlvv3iw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-04qkjjlvv3iw div { box-sizing: content-box; }